page-login {
    ion-wizard-step {
        position: relative !important;
        
    } 

    .scroll-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }



    #icon {
        position: absolute;
        bottom: 50px;
        z-index: 100;
        width: 100%;
        text-align: center;
        left:0;
    }

    ion-icon {
        font-size: 50px;
    }

    
   
}
