page-login {

  ion-content {
    background: url('../assets/img/back1.png') no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }

  ion-wizard-step {
    position: relative !important;
  }

  ion-card {
    border-radius : 10px !important;
    background: rgba(255, 255, 255, 0.8) !important;
    ion-card-content {
      ion-item {
        background: rgba(255, 255, 255, 0) !important; 
        ion-label {
          color: #00B2AA !important;
        }
      }
    }
  }

  ion-grid {
    height: 90%;
    justify-content: space-around !important;
  }

  ion-row {
    justify-content: center;
  }

  #icon {
    color: white;
    position: fixed;
    bottom: 65px;
    z-index: 100;
    width: 100%;
    text-align: center;
    left: 0;
    p {
      animation: blink 1s linear infinite;
    }
  }

  #finger-icon {
    font-size: 50px;
  }

  #input-icon {
    color: #00B2AA;
  }

  @media only screen and (min-width : 748px){
    ion-card {
      width: 400px !important;
    }
  }

  @keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }
}
