<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="home"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="light">
      Account history transaction
    </ion-card-header>

    <ion-card-content padding>
      <ion-list>
        <ion-item>
          <ion-label floating color="primary">Account</ion-label>
          <ion-select [(ngModel)]="selectedAccount" interface="popover">
            <ion-option *ngFor="let element of accounts" [value]="element">{{element.account}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label color="primary">Description</ion-label>
          <ion-input [readonly]="true" [value]="selectedAccount?.desc"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">Current balance</ion-label>
          <ion-input [readonly]="true" [value]="selectedAccount?.current"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">Available balance</ion-label>
          <ion-input [readonly]="true" [value]="selectedAccount?.available"></ion-input>
        </ion-item>

        <ion-searchbar style="padding: 0; margin:0" *ngIf="filterItemsOfAccount().length != 0 || myInput != ''" [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel"  (ionCancel)="onCancel($event)">
        </ion-searchbar>

        <ion-grid id="transactionGrid" *ngIf="selectedAccount != null">
          <ion-row text-center class="tableHead">
            <ion-col col>Date</ion-col>
            <ion-col col>Description</ion-col>
            <ion-col col>Amount EUR</ion-col>
          </ion-row>
          <ion-row *ngFor="let element of filterItemsOfAccount()" text-center>
            <ion-col col>{{element.firstExec}}</ion-col>
            <ion-col col>{{element.desc}}</ion-col>
            <ion-col col>
              <span *ngIf="element.debited == selectedAccount.account">-</span>{{element.amount}}</ion-col>
          </ion-row>

        </ion-grid>

        <ion-grid id="notfound" *ngIf="filterItemsOfAccount().length == 0 && filterItemsOfAccount().length != 0">
          <ion-row>
            <ion-col style="background-color:#FFB3B3; color:white; justify-content: center; display:flex;">
              No transactions found
            </ion-col>
            </ion-row>
        </ion-grid>

      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
