<!--<ion-split-pane>
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
    <ion-menu [content]="content" enabled="true">
        <ion-header>
            <ion-toolbar color="primary">
              <ion-title>Menu</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>

            <ion-list *ngFor="let element of appPages">
              <ion-list-header>
                {{ element.group }}
              </ion-list-header>
              <button ion-item menuClose *ngFor="let p of element.elements" (click)="openPage(p)">
                <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
                {{p.title}}
              </button>
            </ion-list>


            <button id="logout" ion-item color="primary">
              <ion-icon item-start name="log-out"></ion-icon>
                  Log out
              </button>!
            
          </ion-content>
    </ion-menu>
    
</ion-split-pane>
-->