<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="home"></ion-icon>
      </button>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="light" style="padding: 3px 16px 4px 16px;display: flex; align-items: center; justify-content: space-between">
      <span>Account details</span>
      <button style="box-shadow: none !important;" ion-button icon-only (click)="genPdf()">
          <ion-icon name="print"></ion-icon>
        </button>
    </ion-card-header>

    <ion-card-content padding>
      <ion-list>
        <!--<ion-item>
          <ion-label color="primary">Category</ion-label>
          <ion-select [(ngModel)]="selectedCategory" (ionChange)="onChange(fab);" interface="popover">
            <ion-option *ngFor="let element of category">{{element.category}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Account</ion-label>
          <ion-select [disabled]="!accounts.length" (ionChange)="showPrint()" [(ngModel)]="selectedAccount" interface="popover">
            <ion-option *ngFor="let element of accounts" [value]="element">{{element.account}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>-->
        <ion-item>
          <ion-label stacked color="primary">Account</ion-label>
          <ion-select [(ngModel)]="selectedAccount" interface="popover">
            <ion-option *ngFor="let element of accounts" [value]="element">{{element.account}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Description</ion-label>
          <ion-input [readonly]="true" [value]="selectedAccount?.desc"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Current balance</ion-label>
          <ion-input [readonly]="true" [value]="selectedAccount?.current"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Available balance</ion-label>
          <ion-input [readonly]="true" [value]="selectedAccount?.available"></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label color="primary" stacked>Availaible amount as of {{date | date: 'dd/MM/yyyy'}}</ion-label>
          <ion-input [readonly]="true" [value]="selectedAccount?.availableToday + ' EUR'"></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label color="primary" stacked>Reserved funds</ion-label>
          <ion-input [readonly]="true" [value]="selectedAccount?.reserved + ' EUR'"></ion-input>

        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Uncleared cheques</ion-label>
          <ion-input [readonly]="true" [value]="selectedAccount?.uncleared  + ' EUR'"></ion-input>

        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Overdraft Limit</ion-label>
          <ion-input [readonly]="true" [value]="selectedAccount?.overdraft + ' EUR'"></ion-input>

        </ion-item>
        <ion-item class="lastItem">
          <ion-label color="primary" stacked>Maturity date of overdraft limit</ion-label>
          <ion-input [readonly]="true" [value]="selectedAccount?.maturity"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>

</ion-content>
