<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="home"></ion-icon>
      </button>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="light">
      COOP transfers
    </ion-card-header>

    <ion-card-content padding style="background-color: #fafafa;">
      <ion-list>
        <ion-item-group>
          <ion-item-divider style="background-color: #fafafa;">Account to be debited</ion-item-divider>
          <ion-item>
            <ion-label floating color="primary">Account</ion-label>
            <ion-select [(ngModel)]="selectedAccount" (ionChange)="selectAccountToCredit()" interface="popover">
              <ion-option *ngFor="let element of accounts" [value]="element">{{element.account}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating color="primary">Description</ion-label>
            <ion-input [readonly]="true" [value]="selectedAccount?.desc"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating color="primary">Available balance</ion-label>
            <ion-input [readonly]="true" [value]="selectedAccount?.available"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating color="primary">Incl. overdraft</ion-label>
            <ion-input [readonly]="true" [value]="selectedAccount?.overdraft"></ion-input>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider style="background-color: #fafafa;">Account to be credited</ion-item-divider>
          <ion-item>
            <ion-label floating color="primary">Select transfer type</ion-label>
            <ion-select [(ngModel)]="transferType" interface="popover">
              <ion-option>Transfer to a connected account</ion-option>
              <ion-option>Transfer to an account in C.C.B</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="transferType == 'Transfer to a connected account'">
            <ion-label floating color="primary">Account</ion-label>
            <ion-select [(ngModel)]="accountToCredit" interface="popover">
              <ion-option *ngFor="let element of filterAccountsToCredit()" [value]="element">{{element.account}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="transferType != 'Transfer to a connected account'">
            <ion-label color="primary">Account</ion-label>
            <ion-input [(ngModel)]="accountToCreditInput" ></ion-input>
          </ion-item>
          <ion-item *ngIf="transferType == 'Transfer to a connected account'">
            <ion-label color="primary">Current balance</ion-label>
            <ion-input [readonly]="true" [value]="accountToCredit?.current"></ion-input>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider style="background-color: #fafafa;">Transfer details</ion-item-divider>
          <ion-item>
            <ion-label color="primary">Amount (Not available)</ion-label>
            <ion-input [(ngModel)]="transaction.amount"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Standing order</ion-label>
            <ion-checkbox [(ngModel)]="transaction.standing" color="secondary" (ionChange)="standing()"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="!isStanding">
            <ion-label color="primary">Execution date</ion-label>
            <ion-datetime [(ngModel)]="transaction.firstExec" displayFormat="MM/DD/YYYY" min="{{today}}" max="2040-10-31"></ion-datetime>
          </ion-item>
          <div *ngIf="isStanding" id="standing">
            <ion-item>
              <ion-label color="primary">Periodicity</ion-label>
              <ion-select [(ngModel)]="transaction.periodicity" interface="popover">
                <ion-option>Monthly</ion-option>
                <ion-option>Yearly</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary">First execution date</ion-label>
              <ion-datetime [(ngModel)]="transaction.firstExec" displayFormat="MM/DD/YYYY" min="{{today}}" max="2040-10-31"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label color="primary">Ending date
                <span>*</span>
              </ion-label>
              <ion-datetime [(ngModel)]="transaction.endDate" displayFormat="MM/DD/YYYY" min="{{today}}" max="2040-10-31"></ion-datetime>
            </ion-item>
            <div id="notice">
              <span>*</span> leave empty to execute forever
            </div>
          </div>
          <ion-item>
            <ion-label color="primary">Description</ion-label>
            <ion-input [(ngModel)]="transaction.desc"></ion-input>
          </ion-item>
        </ion-item-group>
        <ion-item style="background-color: #fafafa;">
          <ion-buttons style="display:flex; justify-content: space-between">
            <button ion-button color="light" (click)="cancel()">cancel</button>
            <button ion-button color="primary" (click)="confirmVirement()">Confirm</button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>

</ion-content>
